body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    background: #202731;
    overflow-x: hidden;
    /* overflow-x property allow us to hide the content */    
}

body a {
    color: white;
    text-decoration: none;
}

body li {
    list-style: none;
}

/* --------------- VARIABLES --------------- */

.container {
    padding: 10px 10%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-title {
    font-size: 55px;
    font-weight: 600;
}

/* --------------- LOADING SCREEN --------------- */

/* A RAJOUTER POUR L'ANIMATION DE CHARGEMENT */

/* #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: #202731;
    animation: end-load 3s ease-out both;
}

@-webkit-keyframes end-load {
    0%{
        opacity: 1;
    }
    99%{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100%{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes end-load {
    0%{
        opacity: 1;
    }
    99%{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100%{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}


#loading {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    border-top-color:#3c31dd;
    border-radius: 50%;
    z-index: 50;
    animation: spin 2s linear infinite;
}

#loading::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation : spin 3s linear infinite
}

#loading::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #ff0066;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} */

/* --------------- HEADER --------------- */

header {
    display: flex;
    justify-content: space-around;
}

#logo {
    margin-top: 17px;
}

#logo span {
    font-weight: bold;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav li:hover {
    font-weight: bold;
}

/* --------------- SECTION --------------- */

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 400px; */
    height: 100vh;
    padding: 100px 20vw 0 20vw;
    /*Viewport width will give me a design a little bit more responsive*/

    /* A RAJOUTER POUR L'ANIMATION DE CHARGEMENT */

    /* opacity: 0;
    animation: fadeIn linear 1.75s forwards;
    animation-delay: 3s; */
}

/* A RAJOUTER POUR L'ANIMATION DE CHARGEMENT */

/* @keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */


#aboutme {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/images/background2.jpg);
    background-size: cover;
    background-position: center;
}

#aboutme h1 {
    font-size: 60px;
    text-align: center;
}

#aboutme h2 {
    font-size: 45px;
    margin-bottom: 75px;
}

.intro {
    display: flex;
}

.intro img {
    max-height: 400px;
    max-width: 400px;
}

.intro p {
    font-size: 25px;
    /* text-align: center; */
    margin-left: 30px;
    width: 750px;
}

#projects {
    padding-top: 200px;
    /* margin-bottom: 50px; */
    cursor: default;
    height: 200vh;
    height: 100vh;
    padding: 100px 20vw 0 20vw;
}

#projects h1 {
    font-size: 40px;
    text-align: center;
}

#projects h2 {
    font-size: 25px;
    text-decoration: underline;
}

#projects h2:hover {
    font-weight: bold;
}

.project_description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project_description p {
    text-align: center;
    font-style: italic;
    padding-top: 90px;
    margin-left: 30px;
}

/* #projects img {
    width: 125px;
    height: 200px;
    margin-left: 10px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 0%;
    /* transform-origin: 100% 100%; */
    /* transition: all 1s ease-in-out; 
} */

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    height: 400px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #3c31dd);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: height 0.5s;
}

.layer h3 {
    margin-bottom: 20px;
}

.layer p {
    font-size: 12px
}

.layer a {
    margin-top: 00px;
    text-decoration: none;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

/* --------------- Slideshow container --------------- */

.slide-containder {
    position: relative;
    margin: auto;
}

/* Hide the images by default */

.mySlides {
    display: none;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* On hover, add a black background color with a little bit see-through */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}


/* #projects img:hover {
    width: 80%;
    height: 80%;
    max-height: 2000px;
} */


/* --------------- CONTACT ---------------  */

/* #contact h1 {
    font-size: 40px;
}

#contact a {
    font-size: 25px;
} */

.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i{
    color: #202731;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #202731;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: white;
    transform: translateY(-5px);
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #202731;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s;
}

/* .btn2:hover {
    background-color: #202731;
    color: #ff0066; 
} */

.btn.btn2 {
    display: inline-block;
    background-color: #202731;
}

.contact-right {
    flex-basis: 60%;
}

.contact-right form {
    width: 100%;
    margin: 45px 0;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #202731;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}



/* --------------- COLORS --------------- */

.blue {
    background: #3c31dd;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #0f0f10;
}

.gray {
    background: #333233;
}

/* --------------- Curved background --------------- */

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    /*2 values in a border radius create an ellipse*/
    width: 55%;
    height: 100%;
    background-color: #202731;
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    /*2 values in a border radius create an ellipse*/
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}

/* Wave background with SVG via https://www.shapedivider.app/ */

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 262px;
}

.wave .shape-fill {
    fill: #202731;
}

/* --------------- Animated blob --------------- */
.flip {
    transform: rotate(180deg);
}

.blob-motion {
    position: absolute;
    transform: translateY(-20%);
    z-index: -1;
  }

  .blob-content {
    z-index: -2;
  }

  .blobs {
    width: 100%;
    background: url('./blobs.svg') no-repeat bottom / cover;
  }


 /* --------------- FOOTER ---------------  */

.copyright {
   width: 100%;
   text-align: center;
   padding: 25px 0;
   background: #262626;
   font-weight: 300;
   margin-top: 20px;
}

.copyright i {
    color: #ff0066;
}

